<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="e" value="D:\loggg\LogParser2.2\LogParser.exe"/>
    <add key="a" value="C:\Users\lianghongpeng\Desktop\38_1021_1114"/>
    <add key="o" value="D:\codes\git\NGnono.Logparse\tools\logs\38"/>
  </appSettings>
</configuration>