<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="e" value="D:\loggg\LogParser2.2\LogParser.exe"/>
    <add key="a" value="D:\codes\git\NGnono.Logparse\tools\logs\3738"/>
    <add key="o" value="D:\codes\git\NGnono.Logparse\tools\logs\3738"/>
  </appSettings>
</configuration>